**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [18]:
from random import randrange
import random


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [2]:
list1=[i for i in range(20)]

print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
list2=[i*i for i in list1]

print(list2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [4]:
list3=[i for i in range(100)]

print(list3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [5]:
sqrt=[i**0.5 for i in list3]

print(sqrt)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.47213595499958, 4.58257569495584, 4.69041575982343, 4.795831523312719, 4.898979485566356, 5.0, 5.0990195135927845, 5.196152422706632, 5.291502622129181, 5.385164807134504, 5.477225575051661, 5.5677643628300215, 5.656854249492381, 5.744562646538029, 5.830951894845301, 5.916079783099616, 6.0, 6.082762530298219, 6.164414002968976, 6.244997998398398, 6.324555320336759, 6.4031242374328485, 6.48074069840786, 6.557438524302, 6.6332495807108, 6.708203932499369, 6.782329983125268, 6.855654600401044, 6.928203230275509, 7.0, 7.0710678118654755, 7.14142842854285, 7.211102550927978, 7.280109889280518, 7.3484692283495345, 7.416198487095663, 7.483314773547883, 7.54983443527075, 7.615773105863909, 7.681145747868608, 7.745966692414834, 7.810249675906654, 7.874007874011811, 7.937253933193772, 8.0, 8.06225774829855, 8.12403840463596, 8.18535277187245, 8.246211251235321, 8.306623862918075, 8.366600265340756, 8.426149773176359, 8.48528137423857, 8.54400374531753, 8.602325267042627, 8.660254037844387, 8.717797887081348, 8.774964387392123, 8.831760866327848, 8.888194417315589, 8.94427190999916, 9.0, 9.055385138137417, 9.1104335791443, 9.16515138991168, 9.219544457292887, 9.273618495495704, 9.327379053088816, 9.38083151964686, 9.433981132056603, 9.486832980505138, 9.539392014169456, 9.591663046625438, 9.643650760992955, 9.695359714832659, 9.746794344808963, 9.797958971132712, 9.848857801796104, 9.899494936611665, 9.9498743710662]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [6]:
my_list=[i for i in range(-10,1)]

print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [7]:
odds=[i for i in range(1,100) if i%2==1 ]

print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [8]:
divisible_by_seven=[i for i in range(1,1000) if i%7==0 ]

print(divisible_by_seven)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [9]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [10]:
vocals="a","e","i","o","u"
teststring = 'Find all of the words in a string that are monosyllabic'

non_vowels=[]

for i in teststring:
    for j in i:
        if i not in vocals:
            non_vowels+=i

print(non_vowels)

['F', 'n', 'd', ' ', 'l', 'l', ' ', 'f', ' ', 't', 'h', ' ', 'w', 'r', 'd', 's', ' ', 'n', ' ', ' ', 's', 't', 'r', 'n', 'g', ' ', 't', 'h', 't', ' ', 'r', ' ', 'm', 'n', 's', 'y', 'l', 'l', 'b', 'c']

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [11]:
sentence='The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letters=[]

for i in sentence:
    for j in i:
        if j.isupper():
            capital_letters+=i

print(capital_letters)

# lo del espacio no me da la vida la verdad

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [12]:
vocals="a","e","i","o","u"
sentence='The quick brown fox jumped over the lazy dog'

consonants=[]

for i in sentence:
    for j in i:
        if i not in vocals:
            consonants+=i

print(consonants)

['T', 'h', ' ', 'q', 'c', 'k', ' ', 'b', 'r', 'w', 'n', ' ', 'f', 'x', ' ', 'j', 'm', 'p', 'd', ' ', 'v', 'r', ' ', 't', 'h', ' ', 'l', 'z', 'y', ' ', 'd', 'g']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [13]:
# este nanai

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [57]:
lista1=[i for i in range(randrange(100))]
                         
randomlist1 = []
randomlist2 = []
randomlist3 = []
randomlist4 = []

for i in range(0,10):
    n = random.randint(1,100)
    randomlist1.append(n)

for i in range(0,10):
    n = random.randint(1,100)
    randomlist2.append(n)
    
for i in range(0,10):
    n = random.randint(1,100)
    randomlist3.append(n)
    
for i in range(0,10):
    n = random.randint(1,100)
    randomlist4.append(n)

print(randomlist1)
print(randomlist2)
print(randomlist3)
print(randomlist4)

finallist=[randomlist1,randomlist2,randomlist3,randomlist4]

print(finallist)

[36, 44, 37, 28, 75, 61, 50, 95, 43, 94]
[99, 97, 89, 45, 71, 9, 5, 65, 4, 16]
[50, 51, 85, 50, 82, 90, 45, 17, 24, 7]
[12, 34, 4, 90, 31, 52, 63, 2, 44, 77]
[[36, 44, 37, 28, 75, 61, 50, 95, 43, 94], [99, 97, 89, 45, 71, 9, 5, 65, 4, 16], [50, 51, 85, 50, 82, 90, 45, 17, 24, 7], [12, 34, 4, 90, 31, 52, 63, 2, 44, 77]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [ ]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
flatten_list=[i for j in list_of_lists for i in j]

print(flatten_list)

# no entiendo del todo el desarrollo


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [16]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [17]:
floats=[]

for i in list_of_lists:
    for j in i:
        floats.append(float(j))

print(floats)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [24]:
for i in ['a','b','c']:
    print (i**2)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [26]:
try:
    for i in ['a','b','c']:
        print (i**2)
except:
    if i==str():
        print('Not a number)')

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [ ]:
x = 5
y = 0

z = x/y

In [27]:
x = 5
y = 0

try:
    
    z = x/y

except:

    y>=0

finally:
    print("All done")

All done

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [28]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [33]:
abc=[10,20,20]

try:
    print(abc[3])

except:
    
    print("Index has to be:", len(abc)-1, "or lees")

Index has to be: 2 or lees

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [50]:
number1=input("Choose one number:") 
number2=input("Choose another number:") 

try:
 
    resultado=number1+number2

except:

    if number2 ==0:
        number3==input("Dont't choose zero. Please, choose another")
except:
    
    if number1==str():
        number3==input(int("Choose a number:"))
    elif number2==str():
        number4==input(int("Choose another number:"))
    
finally:
    print("Fatal error")

SyntaxError: default 'except:' must be last (292649089.py, line 4)

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [51]:
f = open('testfile','r')
f.write('Test write this')

FileNotFoundError: [Errno 2] No such file or directory: 'testfile'

In [52]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except:
    print("El archivo no se encuentra en este directorio")

El archivo no se encuentra en este directorio

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [55]:
try:
    
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

except:
    print("El archivo no se encuentra en este directorio")

El archivo no se encuentra en este directorio

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [ ]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

In [ ]:
# este no se puede


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

In [56]:
divisible_by_2=[i for i in range(1,1000) if i%2==0 ]
divisible_by_3=[i for i in range(1,1000) if i%3==0 ]
divisible_by_4=[i for i in range(1,1000) if i%4==0 ]
divisible_by_5=[i for i in range(1,1000) if i%5==0 ]
divisible_by_6=[i for i in range(1,1000) if i%6==0 ]
divisible_by_7=[i for i in range(1,1000) if i%7==0 ]
divisible_by_8=[i for i in range(1,1000) if i%8==0 ]
divisible_by_9=[i for i in range(1,1000) if i%9==0 ]

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [ ]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))