In [6]:
square = []
for x in range(20):
    x= x*x
    square.append(x)
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [7]:
square=[x*x for x in range(20)]
print (square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [ ]:
# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.

In [9]:
my_list = []
for x in range (11):
    x = x-10
    my_list.append(x)
    
print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [10]:
my_list = [x-10 for x in range(11)]
print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [ ]:
Find the odd numbers from 1-100. Use odds as the name of the list.

In [14]:
odds = []
for x in range (1,101):
    if x % 2 != 0:
        odds.append(x)
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [19]:
odds = [x for x in range (1,101) if x%2!=0]
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.

In [28]:
divisible_by_seven = []
for x in range(1,1001):
    if  x%7 == 0:
        divisible_by_seven.append(x)
print(divisible_by_seven)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [29]:
divisible_by_seven = [x for x in range (1,1001) if x%7 == 0]
print(divisible_by_seven)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [ ]:
Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'.

In [31]:
sentence = 'The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letter = []
for i in sentence :
    if i.isupper()== True:
        capital_letter.append(i)
print(capital_letter)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

In [33]:
capital_letter = [i for i in sentence if i.isupper()==True]
print(capital_letter)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

In [ ]:
Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list.

In [49]:
random_lists = [random.sample(range(0,100),10) for i in range(4)]
print(random_lists)

[[3, 22, 64, 80, 32, 72, 23, 47, 78, 76], [15, 33, 95, 5, 94, 79, 40, 29, 54, 18], [47, 26, 51, 21, 44, 76, 84, 86, 12, 79], [10, 87, 71, 26, 97, 73, 44, 47, 88, 56]]

In [51]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [53]:
flatten_list = []
for i in list_of_lists:
    for j in i:
        flatten_list.append(j)
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
flatten_list = [j for i in list_of_lists for j in i ]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]