**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [1]:
import random


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [2]:
lst = [1,5,8,2,6,8,7,9,6,5,6,3,5,6,5,9,15,23,2,78,0,0,0,0,0,0,0]

square = [e**2 for e in lst[0:20]]
    
print(square)

[1, 25, 64, 4, 36, 64, 49, 81, 36, 25, 36, 9, 25, 36, 25, 81, 225, 529, 4, 6084]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [3]:
lst = [1,5,8,2,6,8,7,9,6,5,6,3,5,6,5,9,15,23,2,78,0,0,0,0,0,0,0]

sqrt = [round(e**0.5,3) for e in lst[0:100]]

print(sqrt)

[1.0, 2.236, 2.828, 1.414, 2.449, 2.828, 2.646, 3.0, 2.449, 2.236, 2.449, 1.732, 2.236, 2.449, 2.236, 3.0, 3.873, 4.796, 1.414, 8.832, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [4]:
my_list = [e-10  for e in range(11)]

print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [5]:
odds = [e for e in range(100) if e%2!=0]

print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [6]:
divisible_by_seven = [e for e in range(1000) if e%7==0]

print(divisible_by_seven)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [7]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [8]:
teststring = 'Find all of the words in a string that are monosyllabic'

non_vowels_test = ['b','c','d','f','g','h','j','k','l','m','n','p','q','r','s','t','u','v','w','x','y','z',' ','B','C','D','F','G','H','J','K','L','M','N','P','Q','R','S','T','V','W','X','Y','Z']

non_vowels = [i for i in teststring if i in non_vowels_test]

print(non_vowels)

['F', 'n', 'd', ' ', 'l', 'l', ' ', 'f', ' ', 't', 'h', ' ', 'w', 'r', 'd', 's', ' ', 'n', ' ', ' ', 's', 't', 'r', 'n', 'g', ' ', 't', 'h', 't', ' ', 'r', ' ', 'm', 'n', 's', 'y', 'l', 'l', 'b', 'c']

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [9]:
abc_cap = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']

frase = 'The Quick Brown Fox Jumped Over The Lazy Dog'

capital_letters = [i for i in frase if i in abc_cap]

print(capital_letters)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [10]:
non_vowels_test = ['b','c','d','f','g','h','j','k','l','m','n','p','q','r','s','t','u','v','w','x','y','z','B','C','D','F','G','H','J','K','L','M','N','P','Q','R','S','T','V','W','X','Y','Z']
frase = 'The Quick Brown Fox Jumped Over The Lazy Dog'

consonants = [i for i in frase if i in non_vowels_test]

print(consonants)

['T', 'h', 'Q', 'u', 'c', 'k', 'B', 'r', 'w', 'n', 'F', 'x', 'J', 'u', 'm', 'p', 'd', 'v', 'r', 'T', 'h', 'L', 'z', 'y', 'D', 'g']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [11]:
import random
numeros = [i for i in range(101)]

random_lists = []

#for i in range(4):
 #   sub_list = random.sample(numeros,10)
  #  random_lists.append(sub_list)

random_lists = [random.sample(numeros,10) for i in range(4)]
            
print(random_lists)

[[20, 25, 41, 79, 95, 65, 59, 63, 5, 69], [77, 46, 89, 14, 75, 18, 76, 74, 44, 39], [69, 55, 43, 1, 88, 96, 51, 25, 9, 22], [11, 55, 33, 46, 89, 53, 40, 15, 96, 88]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [12]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [13]:
#for i in list_of_lists:
 #   for j in i:
  #      flatten_list.append(j)
        
flatten_list = [j for i in list_of_lists for j in i]        
          
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [14]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [15]:
floats = [float(j) for i in list_of_lists for j in i]        
          
print(floats)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [33]:
for i in ['a','b','c']:
    print(i**2)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [35]:
try:
    for i in ['a','b','c']:
        print(i**2)
except:
    print('i must be a number to do the operation')

i must be a number to do the operation

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [25]:
x = 5
y = 0

z = x/y

ZeroDivisionError: division by zero

In [26]:
x = 5
y = 0

try:
    z = x/y
except:
    print('y cannot be zero to divide')

y cannot be zero to divide

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [27]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [29]:
abc=[10,20,20]
try:
    print(abc[3])
except:
    print('The index you are trying to print is not present in the list')

The index you are trying to print is not present in the list

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [40]:
f = open('testfile','r')
f.write('Test write this')

FileNotFoundError: [Errno 2] No such file or directory: 'testfile'

In [36]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except:
    print('The file you are trying to open is not in the correct location')

The file you are trying yo open is not in the correct location

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [41]:
fp = open('myfile.txt')
line = f.readline()
i = int(s.strip())

FileNotFoundError: [Errno 2] No such file or directory: 'myfile.txt'

In [ ]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())
except:
    print('The file you are trying o open is not in the correct location')

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [ ]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [ ]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))